<div id="scores">
    <div class="panel panel-default">
        <div class="panel-heading">Scores</div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>player1</th>
                        <th>player2</th>
                        <th>player3</th>
                        <th>player4</th>
                        <th>player5</th>
                        <th>player6</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                        <th>1</th>
                    </tr>

                    <tr>
                        <th>2</th>
                        <th>2</th>
                        <th>2</th>
                        <th>2</th>
                        <th>2</th>
                        <th>2</th>
                        <th>2</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row pull-right">
        <div class="col-xs-1">
            <button type="button" class="btn btn-primary">Next Trick</button>
        </div>
    </div>
</div>