<div id="scores">
    <div class="panel panel-default">
        <div class="panel-heading">Scores for <strong><%= name%></strong></div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row pull-right">
        <div class="col-xs-1">
            <button type="button" class="btn btn-primary">Next Trick</button>
        </div>
    </div>
</div>