<div id="creategame" class="col-xs-12">
    <div class="row">
        <h3 class="col-xs-12">Select the number of players</h3>
    </div>

    <div class="row">
        <div class="btn-toolbar col-xs-12" role="toolbar">
            <div class="btn-group" data-toggle="buttons" id="playerOptions">
                <label class="btn btn-primary">
                    <input type="radio" name="playerOption" id="option1"> 3
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="playerOption" id="option2"> 4
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="playerOption" id="option3"> 5
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="playerOption" id="option4"> 6
                </label>
            </div>
        </div>
    </div>

    <div class="row" id="players">
    </div>

    <div class="row pull-right">
        <br>

        <div class="col-xs-12" id="playagame">
            <a class="btn btn-primary hidden">Start</a>
        </div>
    </div>

</div>