<div id="creategame">
    <h3>Select the number of players</h3>

    <div class="btn-group" data-toggle="buttons" id="playerOptions">
        <label class="btn btn-primary">
            <input type="radio" name="playerOption" id="option1"> 3
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="playerOption" id="option2"> 4
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="playerOption" id="option3"> 5
        </label>
        <label class="btn btn-primary">
            <input type="radio" name="playerOption" id="option4"> 6
        </label>
    </div>
    <div class="input-group" id="players"></div>
    <div id="startgame">
        <a class="btn btn-primary hidden">Start</a>
    </div>
</div>