<form class="form-horizontal" role="form" id="game2">
    <div class="form-group">
        <label for="inputCalled" class="col-xs-3 control-label">Called</label>

        <div class="col-xs-9">
            <select class="form-control" id="called"></select>
        </div>
    </div>

    <div class="form-group">
        <label for="inputBout" class="col-xs-6 control-label">Number of Bouts</label>

        <div class="col-xs-6">
            <select class="form-control" id="bouts"></select>
        </div>
    </div>

    <div class="form-group">
        <label for="inputPoints" class="col-xs-6 control-label">Number of Points</label>

        <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="taker team" name="taker">
        </div>
    </div>

    <div class="form-group">
        <div class="col-xs-6">
            <label class="control-label">Against</label>
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="other team" name="other">
        </div>
    </div>
    
    <div id="options"></div>
    
    <div class="form-group">
        <div class="col-xs-1">
            <div class="btn-group" id="additionaloptions">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Options <span
                        class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">click to add options</li>
                    <li><a role="menu-item">Petit au bout</a></li>
                    <li><a role="menu-item">Chelem</a></li>
                    <li><a role="menu-item">Poignee</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group pull-right" id="submitgame">
        <div class="col-xs-1">
            <button type="button" class="btn btn-primary">Validate</button>
        </div>
    </div>
</form>