<form class="form-horizontal" role="form" id="game1">
    <div class="form-group">
        <label for="inputTaker" class="col-xs-2 control-label">Taker</label>

        <div class="col-xs-10">
            <select class="form-control" id="taker"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="inputContract" class="col-xs-2 control-label">Contract</label>

        <div class="col-xs-10">
            <select class="form-control" id="contract"></select>
        </div>
    </div>

    <div class="form-group">
        <label for="inputKing" class="col-xs-2 control-label">King</label>

        <div class="col-xs-10">
            <select class="form-control" id="king"></select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-11 col-xs-1">
            <button type="submit" class="btn btn-primary">Next</button>
        </div>
    </div>
</form>